/*******************************
          Global CSS
*******************************/


/* latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://fontstatic.useso.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(http://fontstatic.useso.com/s/lato/v11/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(http://fontstatic.useso.com/s/raleway/v9/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
    color: #666;
    font-size: 14px;
}
body.pushable {
    background: #FFF;
}
body.pushable> .pusher {
    z-index: 0;
    background: #ececec!important;
}

/*--------------
  Markdown Styles
---------------*/

.markdown h1 {
    font-size: 28px;
    color: #404040;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 24px;
    margin-top: 8px;
    font-family: lato, "Helvetica Neue";
}

/*--------------
  Global Styles
---------------*/

.hidden {
    display: none;
}
.ui.grid {
    width: 100%;
}
.ui.secondary.menu {
    border-color: #FFF!important;
}
.ui.menu .item {
    font-size: 14px;
    color: #666;
    font-weight: normal;
}
.ui.menu .active.item {
    color: #2db7f5!important;
    border-color: #2db7f5!important;
}
.ui.container {
    overflow: hidden;
    padding: 0px 4%!important;
    margin: 0px!important;
    width: 100%!important;
}
.heart.icon {
    color: #D8461D;
}

/*--------------
   Overlay Menu
---------------*/

.overlay {
    position: fixed;
    right: 5%;
    margin: 0;
    transition: right 0.5s ease;
    z-index: 10;
}
.overlay.fixed {
    position: fixed;
    right: 3%;
}
.overlay .ui.menu {
    box-shadow: none;
}
.overlay .ui.labeled.icon.menu a.item {
    font-size: 10px!important;
    min-width: 5em;
    color: #666;
}
.overlay .ui.labeled.icon.menu a.item.active, .overlay .ui.labeled.icon.menu a.item:hover {
    color: #2db7f5!important;
    background-color: #34BDB2!important;
}
.overlay .ui.labeled.icon.menu a.item.active:first-child, .overlay .ui.labeled.icon.menu a.item:hover:first-child {
    background-color: #2DB7F5!important;
}
.overlay .ui.labeled.icon.menu a.item:hover[rel="antd"] svg path, .overlay .ui.labeled.icon.menu a.item.active[rel="antd"] svg path {
    fill: #FFFFFF;
}

/*--------------
   Page Loading
---------------*/

.ui.active.page.loading.dimmer {
    background-color: #FFFFFF;
}
.ui.active.page.loading.dimmer img {
    width: 64px;
    display: inline-block;
    margin-bottom: 15px;
    animation: loadingLogo linear infinite 2s;
}
.ui.active.page.loading.dimmer div:first-child {
    color: #2db7f5;
    font-size: 18px;
    font-weight: normal;
}
@keyframes loadingLogo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------
   Page Header
---------------*/

.page.header {
    padding-top: 1px;
    height: 80px;
}
.page.header .icon.item.logo span {
    color: #2db7f5;
    font-size: 16px;
    font-family: 'Raleway', 'Hiragino Sans GB', sans-serif;
    line-height: 80px;
    text-transform: uppercase;
}
.page.header .icon.item.logo img {
    width: 32px;
    line-height: 80px;
    margin-right: 8px;
}
.page.header .main.menu {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 24px;
    width: 100%;
    height: 80px;
    border-radius: 0;
    box-shadow: none;
    border: 0;
}
.page.header .main.menu .secondary.menu {
    height: 100%;
}
.page.header .main.menu .secondary.menu .item {
    padding-bottom: 30px;
    margin-left: 40px;
    margin-right: 0px;
}
.page.header .main.menu.fixed {
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}
.page.header .main.menu .icon.item {
    height: 100%;
}
.page.header .main.menu .column:first-child {
    border-right: 1px solid #e9e9e9;
    padding: 0!important;
}
.page.header .main.menu .ui.secondary.menu .active.item {
    border-bottom-width: 3px!important;
    margin-bottom: -1px;
}
.page.header .main.menu.fixed .ui.secondary.menu .active.item {
    margin-bottom: -2px;
}
.page.header .icon.launch.button {
    margin-top: 25px;
    margin-left: 4%;
}

/*--------------
   Page Content
---------------*/

.page.content {
    background: #fff;
    overflow: auto;
    position: relative;
    width: 92%;
    margin: 24px auto;
    border-radius: 6px;
    padding: 24px 0 48px 0;
}
.page.content .vertical.pointing.menu {
    width: 100%;
}
.page.content .vertical.pointing.menu .item:hover {
    background-color: #eaf8fe!important;
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
}
.page.content .ui.grid .index.column {
    border-right: 1px solid #e9e9e9;
    padding-right: 0!important;
}

/*--------------
     Footer
---------------*/

.footer {
    clear: both;
    border-top: 1px solid #eee;
    font-size: 12px;
    background: #fff;
    position: relative;
    box-shadow: 0 1000px 0 1000px #fff;
}
.footer .container {
    padding: 0px 2%!important;
}
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
.footer ul li {
    float: left;
    width: 25%;
    padding: 24px 2%;
}
.footer ul li>h2 {
    font-size: 14px;
    margin: 0 auto 8px;
    font-weight: 500;
}

/*******************************
          Sidebar CSS
*******************************/

.ui.sidebar img.logo {
    width: 100%;
    padding: 30px;
}
.ui.sidebar {
    background-color: #FFFFFF;
    padding: 1em;
}
.ui.sidebar .button+ .button {
    margin-top: 0.5em;
}
.alternate.menu {
    display: none;
}

/* small fix to avoid having to recenter buttons in each theme */

.ui.labeled.button> .button {
    display: flex;
    align-items: center;
}

/*******************************
          Masonry
*******************************/

.page.masonry {
  padding-bottom: 500px;
  margin-right: -2em;
}
.masonry .brick {
    width: calc(50% - 2em)!important;
    margin: 1em 2em 1em 0em!important;
}
.masonry.force-one .brick {
    width: calc(100%)!important;
}

/*******************************
          Bragit CSS, http://websemantics.github.io/bragit/
*******************************/

table.bragit {
    width: 100%;
    margin-bottom: 22px!important;
    margin-bottom: 10px;
}
.ui.bragit.button, .ui.bragit.buttons .button {
    white-space: nowrap;
    background-color: #f0736f;
    color: #fff!important;
}
.ui.bragit.label {
    color: #f0736f!important;
    border-color: #f0736f!important;
    background-color: #ffffff;
}
.ui.bragit.button:focus, .ui.bragit.buttons .button:focus, .ui.bragit.button:hover, .ui.bragit.buttons .button:hover {
    background-color: #eb4641;
}
.ui.bragit.labels .label:focus, .ui.bragit.label:focus, .ui.bragit.labels .label:hover, .ui.bragit.label:hover {
    color: #eb4641!important;
    border-color: #eb4641!important;
}
.ui.labeled .ui.button .star.icon {
    color: #F5CC7A!important;
}
