/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : '{{theme}}';
@reset      : 'default';

/* Elements */
@button     : '{{theme}}';
@container  : '{{theme}}';
@divider    : 'default';
@flag       : 'default';
@header     : '{{theme}}';
@icon       : '{{theme}}';
@image      : '{{theme}}';
@input      : '{{theme}}';
@label      : '{{theme}}';
@list       : 'default';
@loader     : 'default';
@rail       : 'default';
@reveal     : 'default';
@segment    : '{{theme}}';
@step       : '{{theme}}';

/* Collections */
@breadcrumb : '{{theme}}';
@form       : '{{theme}}';
@grid       : 'default';
@menu       : '{{theme}}';
@message    : '{{theme}}';
@table      : '{{theme}}';

/* Modules */
@accordion  : 'default';
@checkbox   : 'default';
@dimmer     : 'default';
@dropdown   : '{{theme}}';
@embed      : 'default';
@modal      : 'default';
@nag        : 'default';
@popup      : '{{theme}}';
@progress   : 'default';
@rating     : 'default';
@search     : 'default';
@shape      : 'default';
@sidebar    : 'default';
@sticky     : 'default';
@tab        : 'default';
@transition : 'default';

/* Views */
@ad         : 'default';
@card       : 'default';
@comment    : 'default';
@feed       : 'default';
@item       : 'default';
@statistic  : 'default';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
